<!DOCTYPE html>
<html>
<head>
    <div class="login-header">
    <img src="{{ url_for('static', filename='logo transperant.png') }}" alt="Art has no bounds" class="login-logo">
    </div>

    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
</head>
<body>
    <h2>Login</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p style="color: black;">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
</body>
</html>
