<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
</head>
<body  class="login-page">
    <div class="form-container">
        <div class="login-header">
            <img src="{{ url_for('static', filename='logo transperant.png') }}" class="scaled-image1" required style="margin-left: -11px;">
        </div>

        <h2>Login</h2>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p style="color: black;">{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required style="margin-left: -11px;"><br>
            <input type="password" id="password" name="password" placeholder="Password" required style="margin-left: -11px;"><br>
            <input type="submit" value="Login" class="button-type-1"> 
        </form>

        <div class="form-links">
            <a href="{{ url_for('register') }}">Register</a>
        </div>
    </div>
</body>
</html>
